<a href="https://colab.research.google.com/github/aninditha0604/DataAnalyticsMethod/blob/main/Zillow_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [4]:
df = pd.read_csv('/content/zillow_data.csv') #upload data
df

#df = df.drop("State", axis=1)
#df = df.drop("RegionType", axis=1)

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,31-01-2000,29-02-2000,...,31-03-2024,30-04-2024,31-05-2024,30-06-2024,31-07-2024,31-08-2024,30-09-2024,31-10-2024,30-11-2024,31-12-2024
0,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,245958.79850,247277.53240,...,777070.7255,782516.6015,786441.6240,787131.8015,787351.3038,789059.9619,792731.2710,7.959107e+05,7.975411e+05,7.975092e+05
1,12447,1,Los Angeles,city,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,223867.40970,224215.60430,...,978266.1740,976999.3009,978370.8499,978672.9738,981439.7243,987380.3083,995703.5300,1.002298e+06,1.007363e+06,1.010958e+06
2,39051,2,Houston,city,TX,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,103281.11490,103251.09340,...,271636.0401,272742.3157,273409.0671,273343.9397,272971.9288,272554.9379,272221.9936,2.717327e+05,2.712619e+05,2.710865e+05
3,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,126971.28130,126963.76360,...,294746.2511,297834.5496,299975.8348,301280.1183,302105.8296,303038.4085,303929.9145,3.044987e+05,3.052932e+05,3.062394e+05
4,6915,4,San Antonio,city,TX,TX,"San Antonio-New Braunfels, TX",Bexar County,97762.17787,97854.23738,...,256912.3416,257244.8311,257231.7095,256860.3081,255989.9673,255196.4387,254392.5825,2.536435e+05,2.528395e+05,2.523008e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4415,37998,4575,Conneaut,city,OH,OH,"Ashtabula, OH",Ashtabula County,51010.43472,50972.73790,...,121150.6914,122533.6187,123906.9380,124945.1505,125738.3377,126393.1971,126616.6970,1.268047e+05,1.273333e+05,1.283530e+05
4416,234640,4576,La Homa,city,TX,TX,"McAllen-Edinburg-Mission, TX",Hidalgo County,NaN,NaN,...,157630.4159,159363.0372,160506.2299,161160.2722,161282.2358,161688.0462,162168.9138,1.628027e+05,1.630139e+05,1.630775e+05
4417,57320,4578,Woodhaven,city,MI,MI,"Detroit-Warren-Dearborn, MI",Wayne County,112743.33680,112741.19360,...,246128.7394,248295.8857,249878.9406,250352.3804,250164.4118,250026.5391,250391.1189,2.514098e+05,2.526500e+05,2.537040e+05
4418,52194,4579,Geneva,city,OH,OH,"Ashtabula, OH",Ashtabula County,84118.36989,84449.68896,...,177111.4016,179169.6105,181158.1373,182472.2741,183631.6689,184918.2281,186128.7474,1.874100e+05,1.890040e+05,1.912981e+05
4419,272578,4579,Commerce,city,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,149223.87530,149233.47430,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
copy_df = df.copy()
copy_df.shape
copy_df.dtypes

RegionID        int64
SizeRank        int64
RegionName     object
RegionType     object
StateName      object
               ...
31-08-2024    float64
30-09-2024    float64
31-10-2024    float64
30-11-2024    float64
31-12-2024    float64
Length: 308, dtype: object

In [6]:
copy_df['RegionName'].unique() #finding unique variables in the array

array(['New York', 'Los Angeles', 'Houston', ..., 'Conneaut', 'La Homa',
       'Woodhaven'], dtype=object)

In [7]:
duplicates = copy_df.duplicated().sum() #finding the total duplicates in the dataset
duplicates
copy_df = copy_df.drop(columns= ['SizeRank', 'RegionID','StateName', 'RegionType', 'Metro', 'CountyName'] ) #drop unnecessary columns
copy_df

,RegionName,State,31-01-2000,29-02-2000,31-03-2000,30-04-2000,31-05-2000,30-06-2000,31-07-2000,31-08-2000,...,31-03-2024,30-04-2024,31-05-2024,30-06-2024,31-07-2024,31-08-2024,30-09-2024,31-10-2024,30-11-2024,31-12-2024
0,New York,NY,245958.79850,247277.53240,248646.30880,251208.61990,253740.75970,256405.44620,259274.04450,262005.40390,...,777070.7255,782516.6015,786441.6240,787131.8015,787351.3038,789059.9619,792731.2710,7.959107e+05,7.975411e+05,7.975092e+05
1,Los Angeles,CA,223867.40970,224215.60430,225190.77890,227148.41000,229590.06330,231965.22270,234376.87820,236864.21340,...,978266.1740,976999.3009,978370.8499,978672.9738,981439.7243,987380.3083,995703.5300,1.002298e+06,1.007363e+06,1.010958e+06
2,Houston,TX,103281.11490,103251.09340,103103.66170,103057.53370,103039.09840,103218.02040,103427.46770,103749.45440,...,271636.0401,272742.3157,273409.0671,273343.9397,272971.9288,272554.9379,272221.9936,2.717327e+05,2.712619e+05,2.710865e+05
3,Chicago,IL,126971.28130,126963.76360,127225.91110,127953.14280,128881.87500,129897.51970,130801.56950,132006.93510,...,294746.2511,297834.5496,299975.8348,301280.1183,302105.8296,303038.4085,303929.9145,3.044987e+05,3.052932e+05,3.062394e+05
4,San Antonio,TX,97762.17787,97854.23738,97926.36653,98055.95079,97616.84789,97008.70299,96345.07067,96229.41219,...,256912.3416,257244.8311,257231.7095,256860.3081,255989.9673,255196.4387,254392.5825,2.536435e+05,2.528395e+05,2.523008e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4415,Conneaut,OH,51010.43472,50972.73790,51056.26193,51146.32426,51345.76251,51557.70909,51894.81503,51988.62067,...,121150.6914,122533.6187,123906.9380,124945.1505,125738.3377,126393.1971,126616.6970,1.268047e+05,1.273333e+05,1.283530e+05
4416,La Homa,TX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,157630.4159,159363.0372,160506.2299,161160.2722,161282.2358,161688.0462,162168.9138,1.628027e+05,1.630139e+05,1.630775e+05
4417,Woodhaven,MI,112743.33680,112741.19360,112952.05080,113475.44360,114098.14430,114734.93320,115400.09530,116208.29330,...,246128.7394,248295.8857,249878.9406,250352.3804,250164.4118,250026.5391,250391.1189,2.514098e+05,2.526500e+05,2.537040e+05
4418,Geneva,OH,84118.36989,84449.68896,84636.87941,85011.56353,85412.06625,85967.91896,86473.67826,86991.41114,...,177111.4016,179169.6105,181158.1373,182472.2741,183631.6689,184918.2281,186128.7474,1.874100e+05,1.890040e+05,1.912981e+05
4419,Commerce,CA,149223.87530,149233.47430,149788.38250,150866.69230,152352.93520,153766.37330,155363.07710,157021.68420,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
copy_df["City"] = copy_df['RegionName'] + ' , ' + copy_df['State']
copy_df
cols = ['City'] + [col for col in copy_df.columns if col != 'City']
copy_df = copy_df[cols]
copy_df

,City,RegionName,State,31-01-2000,29-02-2000,31-03-2000,30-04-2000,31-05-2000,30-06-2000,31-07-2000,...,31-03-2024,30-04-2024,31-05-2024,30-06-2024,31-07-2024,31-08-2024,30-09-2024,31-10-2024,30-11-2024,31-12-2024
0,"New York , NY",New York,NY,245958.79850,247277.53240,248646.30880,251208.61990,253740.75970,256405.44620,259274.04450,...,777070.7255,782516.6015,786441.6240,787131.8015,787351.3038,789059.9619,792731.2710,7.959107e+05,7.975411e+05,7.975092e+05
1,"Los Angeles , CA",Los Angeles,CA,223867.40970,224215.60430,225190.77890,227148.41000,229590.06330,231965.22270,234376.87820,...,978266.1740,976999.3009,978370.8499,978672.9738,981439.7243,987380.3083,995703.5300,1.002298e+06,1.007363e+06,1.010958e+06
2,"Houston , TX",Houston,TX,103281.11490,103251.09340,103103.66170,103057.53370,103039.09840,103218.02040,103427.46770,...,271636.0401,272742.3157,273409.0671,273343.9397,272971.9288,272554.9379,272221.9936,2.717327e+05,2.712619e+05,2.710865e+05
3,"Chicago , IL",Chicago,IL,126971.28130,126963.76360,127225.91110,127953.14280,128881.87500,129897.51970,130801.56950,...,294746.2511,297834.5496,299975.8348,301280.1183,302105.8296,303038.4085,303929.9145,3.044987e+05,3.052932e+05,3.062394e+05
4,"San Antonio , TX",San Antonio,TX,97762.17787,97854.23738,97926.36653,98055.95079,97616.84789,97008.70299,96345.07067,...,256912.3416,257244.8311,257231.7095,256860.3081,255989.9673,255196.4387,254392.5825,2.536435e+05,2.528395e+05,2.523008e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4415,"Conneaut , OH",Conneaut,OH,51010.43472,50972.73790,51056.26193,51146.32426,51345.76251,51557.70909,51894.81503,...,121150.6914,122533.6187,123906.9380,124945.1505,125738.3377,126393.1971,126616.6970,1.268047e+05,1.273333e+05,1.283530e+05
4416,"La Homa , TX",La Homa,TX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,157630.4159,159363.0372,160506.2299,161160.2722,161282.2358,161688.0462,162168.9138,1.628027e+05,1.630139e+05,1.630775e+05
4417,"Woodhaven , MI",Woodhaven,MI,112743.33680,112741.19360,112952.05080,113475.44360,114098.14430,114734.93320,115400.09530,...,246128.7394,248295.8857,249878.9406,250352.3804,250164.4118,250026.5391,250391.1189,2.514098e+05,2.526500e+05,2.537040e+05
4418,"Geneva , OH",Geneva,OH,84118.36989,84449.68896,84636.87941,85011.56353,85412.06625,85967.91896,86473.67826,...,177111.4016,179169.6105,181158.1373,182472.2741,183631.6689,184918.2281,186128.7474,1.874100e+05,1.890040e+05,1.912981e+05
4419,"Commerce , CA",Commerce,CA,149223.87530,149233.47430,149788.38250,150866.69230,152352.93520,153766.37330,155363.07710,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
t_data = copy_df.T #transposing data
t_data.to_csv("t_data.csv", index =False)
t_data = t_data.drop(index = t_data.index[1:3])
t_data

,0,1,2,3,4,5,6,7,8,9,...,4410,4411,4412,4413,4414,4415,4416,4417,4418,4419
City,"New York , NY","Los Angeles , CA","Houston , TX","Chicago , IL","San Antonio , TX","Philadelphia , PA","Phoenix , AZ","Las Vegas , NV","San Diego , CA","Dallas , TX",...,"Graham , TX","Elkins , WV","Hailey , ID","Jefferson City , TN","Pella , IA","Conneaut , OH","La Homa , TX","Woodhaven , MI","Geneva , OH","Commerce , CA"
31-01-2000,245958.7985,223867.4097,103281.1149,126971.2813,97762.17787,58059.00491,116897.0462,159622.8745,240789.1872,94955.02731,...,NaN,NaN,NaN,90598.1802,NaN,51010.43472,NaN,112743.3368,84118.36989,149223.8753
29-02-2000,247277.5324,224215.6043,103251.0934,126963.7636,97854.23738,58172.00828,117187.7157,159586.3981,241893.5146,95001.48655,...,NaN,NaN,NaN,90861.31583,NaN,50972.7379,NaN,112741.1936,84449.68896,149233.4743
31-03-2000,248646.3088,225190.7789,103103.6617,127225.9111,97926.36653,58289.76611,117554.4223,159846.3236,243142.0339,95034.06314,...,NaN,NaN,NaN,91084.53043,NaN,51056.26193,NaN,112952.0508,84636.87941,149788.3825
30-04-2000,251208.6199,227148.41,103057.5337,127953.1428,98055.95079,58542.87775,118335.4995,160451.8158,245982.4646,95145.35351,...,NaN,NaN,NaN,91588.01721,NaN,51146.32426,NaN,113475.4436,85011.56353,150866.6923
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31-08-2024,789059.9619,987380.3083,272554.9379,303038.4085,255196.4387,211242.683,427185.9818,441912.8274,1134731.245,321227.6065,...,200755.5012,158167.4464,816066.695,284682.7641,328034.5895,126393.1971,161688.0462,250026.5391,184918.2281,NaN
30-09-2024,792731.271,995703.53,272221.9936,303929.9145,254392.5825,211594.254,425972.221,443591.7337,1134577.001,320437.7719,...,200800.1628,158134.6474,818505.2937,285657.1517,329760.5451,126616.697,162168.9138,250391.1189,186128.7474,NaN
31-10-2024,795910.7288,1002297.706,271732.6709,304498.7087,253643.4819,212069.4263,424827.572,445073.0844,1133101.997,319988.1562,...,200844.0085,158346.5404,823697.2171,286348.4907,332156.2651,126804.685,162802.679,251409.7764,187409.9997,NaN
30-11-2024,797541.0823,1007363.079,271261.8717,305293.1617,252839.5052,212624.7606,423868.6939,446495.1473,1131732.085,319472.6847,...,200085.9118,159037.6135,831920.1992,287428.9161,334677.5736,127333.2584,163013.8534,252649.9867,189004.0281,NaN
31-12-2024,797509.1587,1010957.678,271086.5478,306239.4029,252300.7803,213608.1653,423305.9441,448071.2633,1130316.269,319020.0922,...,199471.5599,160368.4771,840464.9352,289573.0777,337702.7064,128352.9845,163077.4971,253703.9711,191298.1038,NaN

In [10]:
t_data.dtypes

0       object
1       object
2       object
3       object
4       object
         ...
4415    object
4416    object
4417    object
4418    object
4419    object
Length: 4420, dtype: object

In [11]:
t_data.isnull().sum()

0        0
1        0
2        0
3        0
4        0
        ..
4415     0
4416    84
4417     0
4418     0
4419    80
Length: 4420, dtype: int64

In [12]:
t_data.columns = t_data.iloc[0] #set first row as column header
#t_data
t_data = t_data.drop(index= t_data.index[0:1])
t_data

City,"New York , NY","Los Angeles , CA","Houston , TX","Chicago , IL","San Antonio , TX","Philadelphia , PA","Phoenix , AZ","Las Vegas , NV","San Diego , CA","Dallas , TX",...,"Graham , TX","Elkins , WV","Hailey , ID","Jefferson City , TN","Pella , IA","Conneaut , OH","La Homa , TX","Woodhaven , MI","Geneva , OH","Commerce , CA"
31-01-2000,245958.7985,223867.4097,103281.1149,126971.2813,97762.17787,58059.00491,116897.0462,159622.8745,240789.1872,94955.02731,...,NaN,NaN,NaN,90598.1802,NaN,51010.43472,NaN,112743.3368,84118.36989,149223.8753
29-02-2000,247277.5324,224215.6043,103251.0934,126963.7636,97854.23738,58172.00828,117187.7157,159586.3981,241893.5146,95001.48655,...,NaN,NaN,NaN,90861.31583,NaN,50972.7379,NaN,112741.1936,84449.68896,149233.4743
31-03-2000,248646.3088,225190.7789,103103.6617,127225.9111,97926.36653,58289.76611,117554.4223,159846.3236,243142.0339,95034.06314,...,NaN,NaN,NaN,91084.53043,NaN,51056.26193,NaN,112952.0508,84636.87941,149788.3825
30-04-2000,251208.6199,227148.41,103057.5337,127953.1428,98055.95079,58542.87775,118335.4995,160451.8158,245982.4646,95145.35351,...,NaN,NaN,NaN,91588.01721,NaN,51146.32426,NaN,113475.4436,85011.56353,150866.6923
31-05-2000,253740.7597,229590.0633,103039.0984,128881.875,97616.84789,58928.60082,119199.5238,161259.3589,248973.5663,95332.17543,...,NaN,NaN,NaN,92050.38097,NaN,51345.76251,NaN,114098.1443,85412.06625,152352.9352
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31-08-2024,789059.9619,987380.3083,272554.9379,303038.4085,255196.4387,211242.683,427185.9818,441912.8274,1134731.245,321227.6065,...,200755.5012,158167.4464,816066.695,284682.7641,328034.5895,126393.1971,161688.0462,250026.5391,184918.2281,NaN
30-09-2024,792731.271,995703.53,272221.9936,303929.9145,254392.5825,211594.254,425972.221,443591.7337,1134577.001,320437.7719,...,200800.1628,158134.6474,818505.2937,285657.1517,329760.5451,126616.697,162168.9138,250391.1189,186128.7474,NaN
31-10-2024,795910.7288,1002297.706,271732.6709,304498.7087,253643.4819,212069.4263,424827.572,445073.0844,1133101.997,319988.1562,...,200844.0085,158346.5404,823697.2171,286348.4907,332156.2651,126804.685,162802.679,251409.7764,187409.9997,NaN
30-11-2024,797541.0823,1007363.079,271261.8717,305293.1617,252839.5052,212624.7606,423868.6939,446495.1473,1131732.085,319472.6847,...,200085.9118,159037.6135,831920.1992,287428.9161,334677.5736,127333.2584,163013.8534,252649.9867,189004.0281,NaN
31-12-2024,797509.1587,1010957.678,271086.5478,306239.4029,252300.7803,213608.1653,423305.9441,448071.2633,1130316.269,319020.0922,...,199471.5599,160368.4771,840464.9352,289573.0777,337702.7064,128352.9845,163077.4971,253703.9711,191298.1038,NaN

In [13]:
t_data = t_data.reset_index()
t_data

City,index,"New York , NY","Los Angeles , CA","Houston , TX","Chicago , IL","San Antonio , TX","Philadelphia , PA","Phoenix , AZ","Las Vegas , NV","San Diego , CA",...,"Graham , TX","Elkins , WV","Hailey , ID","Jefferson City , TN","Pella , IA","Conneaut , OH","La Homa , TX","Woodhaven , MI","Geneva , OH","Commerce , CA"
0,31-01-2000,245958.7985,223867.4097,103281.1149,126971.2813,97762.17787,58059.00491,116897.0462,159622.8745,240789.1872,...,NaN,NaN,NaN,90598.1802,NaN,51010.43472,NaN,112743.3368,84118.36989,149223.8753
1,29-02-2000,247277.5324,224215.6043,103251.0934,126963.7636,97854.23738,58172.00828,117187.7157,159586.3981,241893.5146,...,NaN,NaN,NaN,90861.31583,NaN,50972.7379,NaN,112741.1936,84449.68896,149233.4743
2,31-03-2000,248646.3088,225190.7789,103103.6617,127225.9111,97926.36653,58289.76611,117554.4223,159846.3236,243142.0339,...,NaN,NaN,NaN,91084.53043,NaN,51056.26193,NaN,112952.0508,84636.87941,149788.3825
3,30-04-2000,251208.6199,227148.41,103057.5337,127953.1428,98055.95079,58542.87775,118335.4995,160451.8158,245982.4646,...,NaN,NaN,NaN,91588.01721,NaN,51146.32426,NaN,113475.4436,85011.56353,150866.6923
4,31-05-2000,253740.7597,229590.0633,103039.0984,128881.875,97616.84789,58928.60082,119199.5238,161259.3589,248973.5663,...,NaN,NaN,NaN,92050.38097,NaN,51345.76251,NaN,114098.1443,85412.06625,152352.9352
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,31-08-2024,789059.9619,987380.3083,272554.9379,303038.4085,255196.4387,211242.683,427185.9818,441912.8274,1134731.245,...,200755.5012,158167.4464,816066.695,284682.7641,328034.5895,126393.1971,161688.0462,250026.5391,184918.2281,NaN
296,30-09-2024,792731.271,995703.53,272221.9936,303929.9145,254392.5825,211594.254,425972.221,443591.7337,1134577.001,...,200800.1628,158134.6474,818505.2937,285657.1517,329760.5451,126616.697,162168.9138,250391.1189,186128.7474,NaN
297,31-10-2024,795910.7288,1002297.706,271732.6709,304498.7087,253643.4819,212069.4263,424827.572,445073.0844,1133101.997,...,200844.0085,158346.5404,823697.2171,286348.4907,332156.2651,126804.685,162802.679,251409.7764,187409.9997,NaN
298,30-11-2024,797541.0823,1007363.079,271261.8717,305293.1617,252839.5052,212624.7606,423868.6939,446495.1473,1131732.085,...,200085.9118,159037.6135,831920.1992,287428.9161,334677.5736,127333.2584,163013.8534,252649.9867,189004.0281,NaN
299,31-12-2024,797509.1587,1010957.678,271086.5478,306239.4029,252300.7803,213608.1653,423305.9441,448071.2633,1130316.269,...,199471.5599,160368.4771,840464.9352,289573.0777,337702.7064,128352.9845,163077.4971,253703.9711,191298.1038,NaN

In [14]:
t_data.rename(columns = {'index' : 'Date'}, inplace=True)
t_data

City,Date,"New York , NY","Los Angeles , CA","Houston , TX","Chicago , IL","San Antonio , TX","Philadelphia , PA","Phoenix , AZ","Las Vegas , NV","San Diego , CA",...,"Graham , TX","Elkins , WV","Hailey , ID","Jefferson City , TN","Pella , IA","Conneaut , OH","La Homa , TX","Woodhaven , MI","Geneva , OH","Commerce , CA"
0,31-01-2000,245958.7985,223867.4097,103281.1149,126971.2813,97762.17787,58059.00491,116897.0462,159622.8745,240789.1872,...,NaN,NaN,NaN,90598.1802,NaN,51010.43472,NaN,112743.3368,84118.36989,149223.8753
1,29-02-2000,247277.5324,224215.6043,103251.0934,126963.7636,97854.23738,58172.00828,117187.7157,159586.3981,241893.5146,...,NaN,NaN,NaN,90861.31583,NaN,50972.7379,NaN,112741.1936,84449.68896,149233.4743
2,31-03-2000,248646.3088,225190.7789,103103.6617,127225.9111,97926.36653,58289.76611,117554.4223,159846.3236,243142.0339,...,NaN,NaN,NaN,91084.53043,NaN,51056.26193,NaN,112952.0508,84636.87941,149788.3825
3,30-04-2000,251208.6199,227148.41,103057.5337,127953.1428,98055.95079,58542.87775,118335.4995,160451.8158,245982.4646,...,NaN,NaN,NaN,91588.01721,NaN,51146.32426,NaN,113475.4436,85011.56353,150866.6923
4,31-05-2000,253740.7597,229590.0633,103039.0984,128881.875,97616.84789,58928.60082,119199.5238,161259.3589,248973.5663,...,NaN,NaN,NaN,92050.38097,NaN,51345.76251,NaN,114098.1443,85412.06625,152352.9352
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,31-08-2024,789059.9619,987380.3083,272554.9379,303038.4085,255196.4387,211242.683,427185.9818,441912.8274,1134731.245,...,200755.5012,158167.4464,816066.695,284682.7641,328034.5895,126393.1971,161688.0462,250026.5391,184918.2281,NaN
296,30-09-2024,792731.271,995703.53,272221.9936,303929.9145,254392.5825,211594.254,425972.221,443591.7337,1134577.001,...,200800.1628,158134.6474,818505.2937,285657.1517,329760.5451,126616.697,162168.9138,250391.1189,186128.7474,NaN
297,31-10-2024,795910.7288,1002297.706,271732.6709,304498.7087,253643.4819,212069.4263,424827.572,445073.0844,1133101.997,...,200844.0085,158346.5404,823697.2171,286348.4907,332156.2651,126804.685,162802.679,251409.7764,187409.9997,NaN
298,30-11-2024,797541.0823,1007363.079,271261.8717,305293.1617,252839.5052,212624.7606,423868.6939,446495.1473,1131732.085,...,200085.9118,159037.6135,831920.1992,287428.9161,334677.5736,127333.2584,163013.8534,252649.9867,189004.0281,NaN
299,31-12-2024,797509.1587,1010957.678,271086.5478,306239.4029,252300.7803,213608.1653,423305.9441,448071.2633,1130316.269,...,199471.5599,160368.4771,840464.9352,289573.0777,337702.7064,128352.9845,163077.4971,253703.9711,191298.1038,NaN

In [16]:
t_city = t_data[['Date', 'New York , NY']]
t_city

City        Date New York , NY
0     31-01-2000   245958.7985
1     29-02-2000   247277.5324
2     31-03-2000   248646.3088
3     30-04-2000   251208.6199
4     31-05-2000   253740.7597
..           ...           ...
295   31-08-2024   789059.9619
296   30-09-2024    792731.271
297   31-10-2024   795910.7288
298   30-11-2024   797541.0823
299   31-12-2024   797509.1587

[300 rows x 2 columns]

In [17]:
t_city['New York , NY'] = t_city['New York , NY'].astype(float)

<ipython-input-17-980f4fce2130>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t_city['New York , NY'] = t_city['New York , NY'].astype(float)

In [18]:
t_city.dtypes

City
Date              object
New York , NY    float64
dtype: object

In [23]:
#Convert to datetime
t_city['Date'] = pd.to_datetime(t_city['Date'])
t_city

<ipython-input-23-e30d7198cb36>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t_city['Date'] = pd.to_datetime(t_city['Date'])

City       Date  New York , NY
0    2000-01-31    245958.7985
1    2000-02-29    247277.5324
2    2000-03-31    248646.3088
3    2000-04-30    251208.6199
4    2000-05-31    253740.7597
..          ...            ...
295  2024-08-31    789059.9619
296  2024-09-30    792731.2710
297  2024-10-31    795910.7288
298  2024-11-30    797541.0823
299  2024-12-31    797509.1587

[300 rows x 2 columns]

In [24]:
t_city.fillna(t_city.mean(numeric_only= True))
t_city

City       Date  New York , NY
0    2000-01-31    245958.7985
1    2000-02-29    247277.5324
2    2000-03-31    248646.3088
3    2000-04-30    251208.6199
4    2000-05-31    253740.7597
..          ...            ...
295  2024-08-31    789059.9619
296  2024-09-30    792731.2710
297  2024-10-31    795910.7288
298  2024-11-30    797541.0823
299  2024-12-31    797509.1587

[300 rows x 2 columns]

In [25]:
t_city.dtypes

City
Date             datetime64[ns]
New York , NY           float64
dtype: object

In [ ]:
plt.figure(figsize= (12,6))
plt.plot(t_city['Date'], t_city['New York , NY'], label = "New York Housing Prices")
plt.xlabel('Date')
plt.ylabel('Housing Price ')